.venv/
.pytest_cache/
capstone.code-workspace
.DS_Store
PRACTICE/.DS_Store
RIBONANZA-RNA-FOLDING/.DS_Store
LITERATURE/
MY-PAPERS/
MISC/
CODE/DATASETS/
CODE/MODELS/VIENNA-RNA/
CODE/MODELS/JET-RNA/._PrepareData.ipynb
CODE/MODELS/JET-RNA/._bprna_df.csv
CODE/MODELS/JET-RNA/._bprnra_one_hot_sequences.csv
CODE/MODELS/JET-RNA/._bprnra_pairing_matricies.csv
CODE/MODELS/JET-RNA/PrepareData.ipynb
CODE/MODELS/JET-RNA/__pycache__/PrepareData.cpython-311.pyc
CODE/MODELS/JET-RNA/bprna_df.csv
CODE/MODELS/JET-RNA/bprnra_one_hot_sequences.csv
CODE/MODELS/JET-RNA/bprnra_one_hot_sequences.pkl
CODE/MODELS/JET-RNA/bprnra_one_hot_sequences_ten.pkl
CODE/MODELS/JET-RNA/bprnra_one_hot_sequences_ten_padded.pkl
CODE/MODELS/JET-RNA/bprnra_pairing_matricies.csv
CODE/MODELS/JET-RNA/bprnra_pairing_matricies.pkl
CODE/MODELS/JET-RNA/bprnra_pairing_matricies_ten.pkl
CODE/MODELS/JET-RNA/bprnra_pairing_matricies_ten_padded.pkl

CODE/MODELS/JET-RNA/utils/__pycache__
CODE/MODELS/JET-RNA/utils/.___pycache__
CODE/MODELS/JET-RNA/utils/__init__.py
CODE/MODELS/JET-RNA/utils/.___init__.py
CODE/MODELS/JET-RNA/utils/._GetDataFrombpRNA.py
